/** **************************************
* Fonts: app
*************************************** */
@import '@fontsource/public-sans/400.css';
@import '@fontsource/public-sans/500.css';
@import '@fontsource/public-sans/600.css';
@import '@fontsource/public-sans/700.css';
@import '@fontsource/public-sans/800.css';

@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';

/** **************************************
* Fonts: options
*************************************** */
@import '@fontsource/dm-sans/400.css';
@import '@fontsource/dm-sans/500.css';
@import '@fontsource/dm-sans/600.css';
@import '@fontsource/dm-sans/700.css';
@import '@fontsource/dm-sans/800.css';

@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/800.css';

@import '@fontsource/nunito-sans/400.css';
@import '@fontsource/nunito-sans/500.css';
@import '@fontsource/nunito-sans/600.css';
@import '@fontsource/nunito-sans/700.css';
@import '@fontsource/nunito-sans/800.css';

@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/500.css';
@import '@fontsource/montserrat/600.css';
@import '@fontsource/montserrat/700.css';
@import '@fontsource/montserrat/800.css';

@import '@fontsource/pacifico/400.css';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';

/* image */
@import './components/image/styles.css';

/* map */
@import './components/map/styles.css';

/* lightbox */
@import './components/lightbox/styles.css';

/* chart */
@import './components/chart/styles.css';

/** **************************************
* Custom Colors
*************************************** */
:root {
  --color-primary-yellow: #fcd60b;
  --color-primary-cyan: #56c7da;
  --color-gradient: linear-gradient(45deg, #56c7da, #fcd60b);
  --color-gradient-135: linear-gradient(135deg, #56c7da, #fcd60b);
}

/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}


/* Start AnimatedtBtn button*/
.AnimatedtBtn {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.AnimatedtBtn:before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  /* background: linear-gradient(45deg, rgb(86, 199, 218), rgb(252, 214, 11)); */
  /* background: linear-gradient(45deg, #fcd60b, #56c7da); */
  background: #916242;
  /* border-radius: 999px; */
  border-radius: 5px;
  transition: .6s;
}

.AnimatedtBtn:hover {
  /* color: #443C68; */
  /* border: 2px solid #443C68; */
  color: #ffffff;
  /* border: 2px solid #fbfbfb; */
}

.AnimatedtBtn:hover:before {
  width: 100%;
  left: 0;
}
/* End AnimatedtBtn button*/

/* .css-sxiaas-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  width: 50% !important;
} */


